{% extends 'layout.html' %}
{% load render_table from django_tables2 %}
{% load static %}
{% load i18n %}
{% load humanize %}
{% block pagecontent %}
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                {% blocktrans with name=request.user.first_name %}Welcome back, {{ name }}!{% endblocktrans %}
            </h1>
            
        </div>

        <!-- Статистика кредитный портфель -->
        <div class="row">
            <div class="col-md-6 col-lg-3 col-xl">
                <div id="card_kpr" class="card">
                    <div class="card-body" style="height: 152px">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Кредитный портфель</h5>
                            </div>
                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-primary-dark spinner-grow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-briefcase align-middle">
                                            <rect x="2" y="7" width="20" height="14" rx="2" ry="2"></rect>
                                            <path d="M16 21V5a2 2 0 0 0-2-2h-4a2 2 0 0 0-2 2v16"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3 values">Загрузка ...</h1>
                        <div class="mb-0 status"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl">
                <div id="card_npl" class="card">
                    <div class="card-body" style="height: 152px">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">NPL клиенты</h5>
                            </div>
                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-danger-dark spinner-grow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-users align-middle">
                                            <path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path>
                                            <circle cx="9" cy="7" r="4"></circle>
                                            <path d="M23 21v-2a4 4 0 0 0-3-3.87"></path>
                                            <path d="M16 3.13a4 4 0 0 1 0 7.75"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3 values">Загрузка ...</h1>
                        <div class="mb-0 status"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl">
                <div id="card_tox" class="card">
                    <div class="card-body" style="height: 152px">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Токсичные кредиты</h5>
                            </div>

                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-warning-dark spinner-grow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-credit-card align-middle">
                                            <rect x="1" y="4" width="22" height="16" rx="2" ry="2"></rect>
                                            <line x1="1" y1="10" x2="23" y2="10"></line>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3 values">Загрузка ...</h1>
                        <div class="mb-0 status"></div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 col-xl">
                <div id="card_prs" class="card">
                    <div class="card-body" style="height: 152px">
                        <div class="row">
                            <div class="col mt-0">
                                <h5 class="card-title">Просрочка</h5>
                            </div>
                            <div class="col-auto">
                                <div class="avatar">
                                    <div class="avatar-title rounded-circle bg-info-dark spinner-grow">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                             viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                             stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                             class="feather feather-dollar-sign align-middle">
                                            <line x1="12" y1="1" x2="12" y2="23"></line>
                                            <path d="M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <h1 class="display-5 mt-1 mb-3 values">Загрузка ...</h1>
                        <div class="mb-0 status"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Аналитика КП -->
        <div class="row">
            <!-- Chart #1 -->
            <div class="col-md-3">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">По субъектам</h5>
                        <h6 class="card-subtitle text-muted">КП на 85,4% состоит из кредитов, выданных юридическим лицам. </h6>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv1" style="height: 383px"></div>
                    </div>
                </div>
            </div>
            <!-- Chart #2 -->
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">По филиалам</h5>
                        <h6 class="card-subtitle text-muted">Почти половина кредитного портфеля приходится на головной офис. Следующие топ пять филиалов: Самаркандский, Ферганский, Кашкадарьинский, Андижанский и Бухарский</h6>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv" style="height: 400px"></div>
                    </div>
                </div>
            </div>
            <!-- Chart #3 -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">По средневзвешенной процентной ставке</h5>
                        <h6 class="card-subtitle text-muted">Физические лица</h6>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv5" style="height: 350px"></div>
                    </div>
                </div>
            </div>
            <!-- Chart #4 -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">По срокам и валютам</h5>
                        <h6 class="card-subtitle text-muted"></h6>
                    </div>
                    <div class="card-body">
                        <div id="chartdiv6" style="height: 350px"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Статистика кредитный портфель -->
        <!--<div class="row">
            <div class="col-12 col-md-6 col-xxl-6 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <a href="javascript:update_line_chart()" class="mr-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-refresh-cw align-middle">
                                    <polyline points="23 4 23 10 17 10"></polyline>
                                    <polyline points="1 20 1 14 7 14"></polyline>
                                    <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>
                                </svg>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-more-vertical align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="javascript:init_line_chart('kpr')">Кредитний порфель</a>
                                    <a class="dropdown-item" href="javascript:init_line_chart('npl')">NPL клиенты</a>
                                    <a class="dropdown-item" href="javascript:init_line_chart('tox')">Токсичные кредиты</a>
                                    <a class="dropdown-item" href="javascript:init_line_chart('prs')">Просрочкы</a>
                                    <a class="dropdown-item" href="javascript:init_line_chart('res')">Резервы</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title">Line Chart</h5>
{#                        <h6 class="card-subtitle text-muted">A line chart is a way of plotting data points on a line.</h6>#}
                    </div>
                    <div class="card-body">
                        <div class="loader" style="position: absolute;left: 50%;top: 45%;">
                            <div class="spinner-grow"></div>
                        </div>
                        <div class="chart">
                            <div class="chartjs-size-monitor">
                                <div class="chartjs-size-monitor-expand"><div class=""></div></div>
                                <div class="chartjs-size-monitor-shrink"><div class=""></div></div>
                            </div>
                            <canvas id="chartjs-line" style="display: block; width: 698px; height: 300px;" width="698" height="300" class="chartjs-render-monitor"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-xxl-6 d-flex">
                <div class="card flex-fill w-100">
                    <div class="card-header">
                        <div class="card-actions float-right">
                            <a href="#" class="mr-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                     viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                     stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                     class="feather feather-refresh-cw align-middle">
                                    <polyline points="23 4 23 10 17 10"></polyline>
                                    <polyline points="1 20 1 14 7 14"></polyline>
                                    <path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path>
                                </svg>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                                         viewBox="0 0 24 24" fill="none" stroke="currentColor"
                                         stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                                         class="feather feather-more-vertical align-middle">
                                        <circle cx="12" cy="12" r="1"></circle>
                                        <circle cx="12" cy="5" r="1"></circle>
                                        <circle cx="12" cy="19" r="1"></circle>
                                    </svg>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                        </div>
                        <h5 class="card-title mb-0">Sales by State</h5>
                    </div>
                    <div class="card-body px-4">
                        <div class="loader" style="position: absolute;left: 50%;top: 45%;">
                            <div class="spinner-grow"></div>
                        </div>
                        <div id="uzb_map" style="height:294px;"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">

                        <h5 class="card-title">По продуктам розничного бизнеса</h5>

                    </div>
                    <div class="card-body">
                        % render_table dt_products %}
                    </div>
                </div>
            </div>
        </div>-->
    </div>
{% endblock %}

{% block scriptcontent %}
<script type="text/javascript" src="{% static 'spark/js/uzbekistan.js' %}"></script>
<script>
    jQuery.getJSON( "{% url 'get_data_subjects' %}", function( response ) {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv1", am4charts.PieChart);

        // Add data
        chart.data = response.result.data;

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "PORBALANS";
        pieSeries.dataFields.category = "TITLE";
        pieSeries.innerRadius = am4core.percent(50);
        pieSeries.ticks.template.disabled = true;
        pieSeries.labels.template.disabled = true;

        var rgm = new am4core.LinearGradientModifier();
        rgm.brightnesses.push(0, - 0.4);
        pieSeries.slices.template.fillModifier = rgm;

        var rgm2 = new am4core.LinearGradientModifier();
        rgm2.brightnesses.push(0, - 0.4);

        pieSeries.slices.template.strokeModifier = rgm2;
        pieSeries.slices.template.strokeOpacity = 1;
        pieSeries.slices.template.strokeWidth = 1;


        chart.legend = new am4charts.Legend();
        chart.legend.position = "bottom";

        pieSeries.slices.template.events.on("validated", function(event){
            var gradient = event.target.fillModifier.gradient
            gradient.rotation = event.target.middleAngle + 90;

            var gradient2 = event.target.strokeModifier.gradient
            gradient2.rotation = event.target.middleAngle + 90;
        })
    });

</script>
<script>
    jQuery.getJSON( "{% url 'get_data_branches' %}", function( response ) {
        am4core.ready(function () {

            var chart = am4core.create("chartdiv", am4charts.XYChart);
            chart.hiddenState.properties.opacity = 0; // this creates initial fade-in

            chart.data = response.result.data

            var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
            categoryAxis.renderer.grid.template.location = 0;
            categoryAxis.dataFields.category = "TITLE";
            categoryAxis.renderer.minGridDistance = 40;
            categoryAxis.fontSize = 11;
            categoryAxis.renderer.labels.template.horizontalCenter = "right";
            categoryAxis.renderer.labels.template.verticalCenter = "middle";
            categoryAxis.renderer.labels.template.rotation = 270;

            var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
            valueAxis.min = 0;
            valueAxis.max = response.result.max_value;
            valueAxis.strictMinMax = true;
            valueAxis.renderer.minGridDistance = 30;
            // axis break
            var axisBreak = valueAxis.axisBreaks.create();
            axisBreak.startValue = response.result.min;
            axisBreak.endValue = response.result.max;
            //axisBreak.breakSize = 0.005;

            // fixed axis break
            var d = (axisBreak.endValue - axisBreak.startValue) / (valueAxis.max - valueAxis.min);
            axisBreak.breakSize = 0.05 * (1 - d) / d; // 0.05 means that the break will take 5% of the total value axis height

            // make break expand on hover
            var hoverState = axisBreak.states.create("hover");
            hoverState.properties.breakSize = 1;
            hoverState.properties.opacity = 0.1;
            hoverState.transitionDuration = 1500;

            axisBreak.defaultState.transitionDuration = 1000;

            var series = chart.series.push(new am4charts.ColumnSeries());
            series.dataFields.categoryX = "TITLE";
            series.dataFields.valueY = "PORBALANS";
            series.columns.template.tooltipText = "{valueY.value}";
            series.columns.template.tooltipY = 0;
            series.columns.template.strokeOpacity = 0;

            // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
            series.columns.template.adapter.add("fill", function (fill, target) {
                return chart.colors.getIndex(target.dataItem.index);
            });

        }); // end am4core.ready()
    })
</script>
<script>
jQuery.getJSON( "{% url 'get_data_average' %}", function( response ) {
    console.log(response)
    am4core.ready(function() {

        var chart = am4core.create("chartdiv5", am4charts.XYChart);
        chart.padding(10, 10, 10, 10);

        var categoryAxis = chart.yAxes.push(new am4charts.CategoryAxis());
        categoryAxis.renderer.grid.template.location = 0;
        categoryAxis.dataFields.category = "TITLE";
        categoryAxis.renderer.minGridDistance = 1;
        categoryAxis.renderer.inversed = true;
        categoryAxis.renderer.grid.template.disabled = true;

        var valueAxis = chart.xAxes.push(new am4charts.ValueAxis());
        valueAxis.min = 0;

        var series = chart.series.push(new am4charts.ColumnSeries());
        series.dataFields.categoryY = "TITLE";
        series.dataFields.valueX = "BALANCE";
        series.tooltipText = "{valueX.value}"
        series.columns.template.strokeOpacity = 0;
        series.columns.template.column.cornerRadiusBottomRight = 5;
        series.columns.template.column.cornerRadiusTopRight = 5;

        var labelBullet = series.bullets.push(new am4charts.LabelBullet())
        labelBullet.label.horizontalCenter = "left";
        labelBullet.label.dx = 10;
        labelBullet.label.text = "{values.valueX.workingValue.formatNumber('#.0as')}";
        labelBullet.locationX = 1;

        // as by default columns of the same series are of the same color, we add adapter which takes colors from chart.colors color set
        series.columns.template.adapter.add("fill", function(fill, target){
          return chart.colors.getIndex(target.dataItem.index);
        });

        categoryAxis.sortBySeries = series;
        chart.data = response.result.data
    }); // end am4core.ready()
});
</script>
<script>
jQuery.getJSON( "{% url 'get_data_average_juridical' %}", function( response ) {
    console.log(response)
    am4core.ready(function () {

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv6", am4charts.PieChart);

        // Set data
        var selected;
        var types = response.result.data

        // Add data
        chart.data = generateChartData();

        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "percent";
        pieSeries.dataFields.category = "type";
        pieSeries.slices.template.propertyFields.fill = "color";
        pieSeries.slices.template.propertyFields.isActive = "pulled";
        pieSeries.slices.template.strokeWidth = 0;

        function generateChartData() {
            var chartData = [];
            for (var i = 0; i < types.length; i++) {
                if (i == selected) {
                    for (var x = 0; x < types[i].subs.length; x++) {
                        chartData.push({
                            type: types[i].subs[x].type,
                            percent: types[i].subs[x].percent,
                            color: types[i].color,
                            pulled: true
                        });
                    }
                } else {
                    chartData.push({
                        type: types[i].type,
                        percent: types[i].percent,
                        color: types[i].color,
                        id: i
                    });
                }
            }
            return chartData;
        }

        pieSeries.slices.template.events.on("hit", function (event) {
            if (event.target.dataItem.dataContext.id != undefined) {
                selected = event.target.dataItem.dataContext.id;
            } else {
                selected = undefined;
            }
            chart.data = generateChartData();
        });

    }); // end am4core.ready()
})
</script>
<script>
    get_status_template = function(arg){
        if (arg > 0){
            return '<span class="text-success"><i class="fas fa-level-up-alt"></i> ' + arg + '% </span> По сравнению с прошлым месяцем'}
        else {
            return '<span class="text-danger"><i class="fas fa-level-down-alt"></i> ' + arg + '% </span> По сравнению с прошлым месяцем'}
    }
</script>
<script>
    $.ajax({
        type: "get",
        url: "{% url 'get_stat_data' %}",
        dataType: "json",
        success: function(data){
            result = data.results
            $('#card_kpr .values').html(numberWithCommas(result.kpr.values))
            $('#card_kpr .status').html(get_status_template(result.kpr.increase))
            $('#card_npl .values').html(numberWithCommas(result.npl.values))
            $('#card_npl .status').html(get_status_template(result.npl.increase))
            $('#card_tox .values').html(numberWithCommas(result.tox.values))
            $('#card_tox .status').html(get_status_template(result.tox.increase))
            $('#card_prs .values').html(numberWithCommas(result.prs.values))
            $('#card_prs .status').html(get_status_template(result.prs.increase))
            $('.card .avatar-title').removeClass('spinner-grow')
        },
        error: function(){
            alert("error");
        }
    });
</script>
{% endblock %}