{% extends 'layout.html' %}
{% load static %}
{% load humanize %}
{% load i18n %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}

{% block pagecontent %}

    <div class="container-fluid">

        <div class="header">
            <h1 class="header-title">
                {{ page_title }}
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
                    <li class="breadcrumb-item"><a href="#">Аналитика</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Аналитика проблемных кредитов</li>
                </ol>
            </nav>
            <div class="row mt-3 mb-2">
                {% include 'analytics/menu.app.html' %}
            </div>
        </div>


        <div id="finance-bank" class="row mt-n4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">[[ header ]]</h5>
                        <h6 class="card-subtitle text-muted">Количественные плановые фин. показатели банка за 2019-2021
                            гг., млрд. сум</h6>
                    </div>
                    <div class="card-body">

                        <table class="table table-striped table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th style="width: 300px"></th>
                                    <th class="text-center">2018</th>
                                    <th colspan="3" class="text-center">2019</th>
                                    <th class="text-center">2020</th>
                                    <th class="text-center">2021</th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th class="text-center">факт</th>
                                    <th class="text-center">план</th>
                                    <th class="text-center">*факт</th>
                                    <th class="text-center">%</th>
                                    <th class="text-center">план</th>
                                    <th class="text-center">план</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in items">
                                    <td>[[ item.label ]]</td>
                                    <td class="text-right">[[ item.fk_18 ]]</td>
                                    <td class="text-right">[[ item.pl_19 ]]</td>
                                    <td class="text-right">[[ item.fk_19 ]]</td>
                                    <td class="text-right">[[ item.pr_19 ]]</td>
                                    <td class="text-right">[[ item.pl_20 ]]</td>
                                    <td class="text-right">[[ item.pl_21 ]]</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <svg width="*" height="360">
                            <polygon points="5,356 54,278 186,278 132,356"
                                     fill="#17a2b8" stroke="#3e4676" stroke-width="2"/>
                            <polygon points="136,356 190,278 258,278 312,356"
                                     fill="#17a2b8" stroke="#3e4676" stroke-width="2"/>
                            <polygon points="316,356 262,278 394,278 443,356"
                                     fill="#17a2b8" stroke="#3e4676" stroke-width="2"/>
                            <polygon points="56,275 126,162 322,162 392,275"
                                     fill="#17a2b8" stroke="#3e4676" stroke-width="2"/>
                            <polygon points="128,159 224,5 320,159"
                                     fill="#17a2b8" stroke="#3e4676" stroke-width="2"/>
                            <text x="224" y="105" text-anchor="middle" fill="white">Допустимый
                                <tspan x="224" y="125">уровен риска</tspan>
                            </text>
                            <text x="224" y="225" text-anchor="middle" fill="white" font-size="18" font-weight="bold">
                                Риск-аппетит
                            </text>
                            <text x="90" y="320" text-anchor="middle" fill="white" font-size="10">
                                Кредитные риски
                            </text>
                            <text x="224" y="320" text-anchor="middle" fill="white" font-size="10">
                                Рыночные риски
                            </text>
                            <text x="353" y="320" text-anchor="middle" fill="white" font-size="10">
                                Операционные риски
                            </text>
                            <line x1="266" y1="72" x2="311" y2="42" style="stroke:rgb(255,0,0);stroke-width:2"/>
                            <polygon points="312,45 308,40 315,39"
                                     fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="2"/>
                            <line x1="353" y1="210" x2="400" y2="210" style="stroke:rgb(255,0,0);stroke-width:2"/>
                            <polygon points="400,207 400,213 406,210"
                                     fill="rgb(255,0,0)" stroke="rgb(255,0,0)" stroke-width="2"/>
                            <text x="330" y="20" font-size="14" font-weight="bold">
                                Допустимый уровень риска
                                <tspan x="330" y="40" fill="#3e4676" font-weight="normal">[[ allowed_level_risk ]] млрд. сум</tspan>
                            </text>
                            <text x="420" y="200" font-size="14" font-weight="bold">
                                Риск-аппетит
                                <tspan x="430" y="220" fill="#3e4676" font-weight="normal">[[ total_risk_appetit ]] млрд. сум</tspan>
                                <tspan x="430" y="240" font-weight="normal" font-size="10"><tspan fill="#dc3545" >45%</tspan> от допустимого уровня риска</tspan>
                                <tspan x="430" y="260" font-weight="normal" font-size="10">31% от плановых процентных доходов за 2020 г.</tspan>
                            </text>
                        </svg>


                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <div id="chartdiv-sphere" style="height: 400px"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

{% block scriptcontent %}

    <script src="https://unpkg.com/vue"></script>
    <script>
        var appetita = new Vue({
            el: "#finance-bank",
            delimiters: ['[[', ']]'],
            data: {
                header: 'Финансовый показатели банка',
                allowed_level_risk: 1985,
                count_years: 2,
                total_risk_appetit: 900,

                items: [
                    {label: 'ROE', fk_18: 4, pl_19: 5, fk_19: 4, pr_19: -19, pl_20: 6, pl_21: 8,},
                    {label: 'ROA', fk_18: 0, pl_19: 0, fk_19: 0, pr_19: -3, pl_20: 1, pl_21: 1,},
                    {label: 'Активы', fk_18: 30361, pl_19: 34314, fk_19: 34698, pr_19: 1, pl_20: 37695, pl_21: 42070,},
                    {label: 'в том числе КП', fk_18: 24421, pl_19: 28084, fk_19: 26322, pr_19: -6, pl_20: 30800, pl_21: 35500,},
                    {label: 'ЮЛ', fk_18: 22882, fk_19: 3341, pl_20: 24780},
                    {label: 'ФЛ', fk_18: 1539, fk_19: 22981, pl_20: 6020},
                    {label: 'Капитал', fk_18: 0, pl_19: 0, fk_19: 0, pr_19: 0, pl_20: 1, pl_21: 1,},
                    {label: 'Плановые процентные/непроц. доходы', fk_18: 0, pl_19: 0, fk_19: 0, pr_19: 0, pl_20: 1, pl_21: 1,},
                    {label: 'Прибыль', fk_18: 0, pl_19: 0, fk_19: 0, pr_19: 0, pl_20: 1, pl_21: 1,},
                ],

            }
        })

    </script>
    <script>
        /**
         * ---------------------------------------
         * This demo was created using amCharts 4.
         *
         * For more information visit:
         * https://www.amcharts.com/
         *
         * Documentation is available at:
         * https://www.amcharts.com/docs/v4/
         * ---------------------------------------
         */

        // Themes begin
        am4core.useTheme(am4themes_animated);
        // Themes end

        // Create chart instance
        var chart = am4core.create("chartdiv-sphere", am4charts.PieChart);

        // Let's cut a hole in our Pie chart the size of 40% the radius
        chart.innerRadius = am4core.percent(40);



        // Add and configure Series
        var pieSeries = chart.series.push(new am4charts.PieSeries());
        pieSeries.dataFields.value = "value";
        pieSeries.dataFields.category = "category";
        pieSeries.slices.template.stroke = am4core.color("#fff");
        pieSeries.innerRadius = 10;
        pieSeries.slices.template.fillOpacity = 0.5;

        pieSeries.slices.template.propertyFields.disabled = "labelDisabled";
        pieSeries.labels.template.propertyFields.disabled = "labelDisabled";
        pieSeries.ticks.template.propertyFields.disabled = "labelDisabled";


        // Add data
        pieSeries.data = [{
          "category": "РИСК-АППЕТИТ",
          "value": 900
        }, {
          "category": "Unused",
          "value": 1085,
          "labelDisabled":true
        }];

        // Disable sliding out of slices
        pieSeries.slices.template.states.getKey("hover").properties.shiftRadius = 0;
        pieSeries.slices.template.states.getKey("hover").properties.scale = 1;

        // Add second series
        var pieSeries2 = chart.series.push(new am4charts.PieSeries());
        pieSeries2.dataFields.value = "value";
        pieSeries2.dataFields.category = "category";
        pieSeries2.slices.template.states.getKey("hover").properties.shiftRadius = 0;
        pieSeries2.slices.template.states.getKey("hover").properties.scale = 1;
        pieSeries2.slices.template.propertyFields.fill = "fill";

        // Add data
        pieSeries2.data = [{
          "category": "Кредитные риски",
          "value": 576
        }, {
          "category": "Риночные риски",
          "value": 190
        }, {
          "category": "Операционные риски",
          "value": 134
        }, {
          "category": "ДОСТУПНО",
          "value": 1085,
          "fill":"#dedede",
          "color": "blue"
        }];


        pieSeries.adapter.add("innerRadius", function(innerRadius, target){
          return am4core.percent(40);
        })

        pieSeries2.adapter.add("innerRadius", function(innerRadius, target){
          return am4core.percent(60);
        })

        pieSeries.adapter.add("radius", function(innerRadius, target){
          return am4core.percent(100);
        })

        pieSeries2.adapter.add("radius", function(innerRadius, target){
          return am4core.percent(80);
        })
    </script>
{% endblock %}