{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Risk Assessement System">
    <meta name="author" content="RD-ASAKA">

    <title>Risk Assessement System</title>
{#    <script type="text/javascript" src="{% static 'spark/js/settings.js' %}"></script>#}
    <link rel="stylesheet" href="{% static 'spark/css/modern.css' %}" type="text/css">

</head>

<body class="theme-blue">

    <div class="splash">
        <div class="splash-icon"></div>
    </div>

    <div class="wrapper">
        {% include 'sidebar.html' %}
        <div class="main">
            {% include 'navbar.html' %}
            <main class="content">
                {% block pagecontent %}

                {% endblock %}
            </main>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'spark/js/app.js' %}"></script>
    <script type="text/javascript" src="{% static 'spark/js/scripts.js' %}"></script>
    <script src="{% static 'lib/amcharts4/core.js' %}"></script>
    <script src="{% static 'lib/amcharts4/charts.js' %}"></script>
    <script src="{% static 'lib/amcharts4/maps.js' %}"></script>
    <script src="{% static 'lib/geodata/data/countries2.js' %}"></script>
    <script src="{% static 'lib/amcharts4/themes/material.js' %}"></script>
    <script src="{% static 'lib/amcharts4/themes/animated.js' %}"></script>
    <script src="{% static 'lib/amcharts4/themes/dataviz.js' %}"></script>

    <script>

    </script>
    {% block scriptcontent %}

    {% endblock %}

</body>
</html>