{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% load humanize %}

{% block pagecontent %}
    <style>
        a:-webkit-any-link:focus{
            outline: none;
        }
    </style>
    <div class="container-fluid">
        <div class="header">
            <h1 class="header-title">
                {{ page_title }}
            </h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">{% trans 'Home' %}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{ page_title }}</li>
                </ol>
            </nav>
        </div>
        <div class="row">
            <div class="col-xxl-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-actions float-right d-flex">
                            <select id="select_type" class="custom-select mt-0 mr-3" style="font-size: 13px;height: auto">
                              <option selected="1">Юридические лица</option>
                              <option value="2">Физические лица</option>
                            </select>
                            <a href="#" class="mr-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw align-middle"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
                            </a>
                            <div class="d-inline-block dropdown show">
                                <a href="#" data-toggle="dropdown" data-display="static">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-vertical align-middle"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
                                </a>


                            </div>
                        </div>

                        <h5 class="card-title mb-0">Clients</h5>

                    </div>

                    <div class="card-body">
                        <table id="clients_table" class="table table-striped">
                            <thead>
                              <tr>
                                <th class="text-truncate">У/К</th>
                                <th class="text-truncate">Наименование</th>
                                <th class="text-truncate">Тип клиента</th>
                                <th class="text-truncate">Филиал</th>
                                <th class="text-truncate">Всего задолженность</th>
{#                                <th class="text-truncate">Адрес</th>#}
                                <th class="text-truncate">Статус</th>
                                <th class="text-truncate">Резервы</th>
                                <th class="text-truncate">Reserve</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                              </tr>
                            </tbody>
                            <tfoot class="table-primary">
                                <tr>
                                    <th colspan="5" style="text-align:right">Total:</th>
                                    <th colspan="2" style="text-align:right">Reserve:</th>
                                    <th colspan="1" style="text-align:right;width:200px"></th>
                                </tr>
                            </tfoot>
                        </table>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{% block scriptcontent %}

{#<script type="text/javascript" src="{% static 'lib/jszip/dist/jszip.min.js' %}"></script>#}
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.5.0/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.1.0/js/buttons.html5.min.js"></script>
<script>
    var table = $('#clients_table').dataTable({
        ajax: {
            url: 'http://127.0.0.1:8000/api/clients',
            dataSrc: 'results'
        },
        buttons: {
            dom: {
                container: {
                    tag: 'aside'
                }
            }
        },
        columns: [
            { "data": "CLIENTID"},
            { "data": "CLIENTNAME"},
            { "data": "CLIENTTYPE"},
            { "data": "BRANCHNAME"},
            { "data": "TOTALLOANS"},
            {#{ "data": "ADDRESS"},#}
            { "data": "STATUSCLIENT"},
            { "data": "TOTALRESERVE"},
            { "data": "RESERVE"},
        ],
        columnDefs: [
            { className: "", targets: "_all" },
            { targets: 1, data: "link",
                render: function (data, type, row, meta) {
                    return `<a href="/clients/${row.CLIENTID}">${data}</a>`;
                }
            },
            { targets: 6, data: "loan",
                render: function (data, type, row, meta) {
                    return numberWithCommas(Number(data));
                }
            },
            { targets: 7, data: "loan",
                render: function (data, type, row, meta) {
                    return numberWithCommas(Number(data));
                }
            },
            { targets: 4, data: "loan",
                render: function (data, type, row, meta) {
                    return numberWithCommas(Number(data));
                }
            },
            { targets: 5, data: "download_link",
                render: function (data, type, row, meta) {
                    if (data === 10){return '<span class="badge badge-danger" style="min-width: 90px">Безнадежный</span>'}
                    if (data === 30){return '<span class="badge badge-danger" style="min-width: 90px">Сомнительный</span>'}
                    if (data === 50){return '<span class="badge badge-danger" style="min-width: 90px">Неудовлет.</span>'}
                    if (data === 70){return '<span class="badge badge-warning" style="min-width: 90px">Субстандарт</span>'}
                    return '<span class="badge badge-success" style="min-width: 90px">Стандарт</span>';
                }
            },

        ],
        "footerCallback": function ( row, data, start, end, display ) {
            var api = this.api(), data;

            // Remove the formatting to get integer data for summation
            var intVal = function ( i ) {
                return typeof i === 'string' ?
                    i.replace(/[\$,]/g, '')*1 :
                    typeof i === 'number' ?
                        i : 0;
            };

            // Total over all pages
            total = api
                .column( 4 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            pageTotal = api
                .column( 4, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over all pages
            reserveTotal = api
                .column( 6 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            reservePageTotal = api
                .column( 6, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over all pages
            neddedTotal = api
                .column( 7 )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );

            // Total over this page
            neededPageTotal = api
                .column( 7, { page: 'current'} )
                .data()
                .reduce( function (a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
           // console.log($( api.column( 4 ).footer().find('th.filter') ))
            // Update footer
            $( api.column( 4 ).footer() ).html(numberWithCommas(pageTotal) +' <br> Всего: '+ numberWithCommas(total));
            $( api.column( 6 ).footer() ).html(numberWithCommas(reservePageTotal) +' <br> Всего: '+ numberWithCommas(reserveTotal));
            $( api.column( 7 ).footer() ).html(numberWithCommas(neededPageTotal) +' <br> Всего: '+ numberWithCommas(neddedTotal));
        }
    });

    new $.fn.dataTable.Buttons( table, {
        buttons: [{ extend: 'excel', className: 'dropdown-item', href:'#' }]
    } ).container().addClass('dropdown-menu dropdown-menu-right').appendTo($('.d-inline-block'));
    $('.buttons-excel').attr('href','#')

</script>
{% endblock %}