<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header">
                <div class="card-actions float-right">

                    <a href="{{ person.get_generate_word_url }}" class="font-weight-bold mr-1">
                        Сформировать в Word
                    </a>

                </div>
                <h5 class="card-title mb-0">Информации о физическое лицо</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <table class="table table-sm ">
                            <tbody>
                                <tr>
                                    <th>Наименование </th>
                                    <td>{{ person.company_name }}</td>
                                    <th>Область </th>
                                    <td>{{ person.get_province }}</td>
                                    <th>Серия и номер паспорта</th>
                                    <td>{{ person.get_passport }}</td>
                                </tr>
                                <tr>
                                    <th>ИНН</th>
                                    <td>{{ person.tin }}</td>
                                    <th>Район</th>
                                    <td>{{ person.get_region }}</td>
                                    <th>Кем выдан паспорт</th>
                                    <td>{{ person.org_passport }}</td>
                                </tr>
                                <tr>
                                    <th>ПИНФЛ</th>
                                    <td>{{ person.pinfl }}</td>
                                    <th>Адрес</th>
                                    <td>{{ person.adress }}</td>
                                    <th>Когда выдан паспорт</th>
                                    <td>{{ person.issued_passport }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>